<p>
  <a href="{{site.dc_site}}">Data Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them to efficiently use computational resources and automate tasks as well.  This workshop
  is designed for those who have <strong>PRIOR EXPERIENCE</strong> with the UNIX shell.  The primary focus of this workshop will be in
  strengthening UNIX shell skills, connecting to remote compute resources, and automating their Genomic analyses
  with UNIX shell scripting workflows.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
