<div class="row">
  <div class="col-md-6">
    <h3>October 25th -- Room 142.023</h3>
    <table class="table table-striped">
      <tr><td>Morning -- Intro to Workshop & Tidy Data</td></tr>
      <tr><td>Afternoon -- Accessing Cloud Computing Resources</td></tr>
      </table>
  </div>
  <div class="col-md-6">
    <h3>October 26th -- Room 142.023</h3>
    <table class="table table-striped">
      <tr><td>Morning -- Variant Calling & Data Transformation</td></tr>
      <tr><td>Afternoon -- Scripting Your Own Genomics Workflows</td></tr>
    </table>
  </div>
</div>
